---
layout: archive
---

{{ content }}


<section id="Name" class="major">
    <div class="inner">
        <header class="major">
            <h1>Yejin Kim</h1>
        </header>
        <div class="content">
            <p> Self-motivated and passionate undergraduate researcher with 2 years of internship in the university and corporation. 
                Regardless of type of task, I try to figure out the essential principle from the problem and make a scalable solution. 
                Ambitious developer with 2 years of professional experience in building applications. Proficient with Python and Dart. 
                Results-oriented with a strong desire to take projects from beginning to end.</p>
        </div>
    </div>
</section>

<section id="contents">
    <div class="subjects">
        <header class="major">
            <h1>Interested in</h1>
        </header>
        <p> Deep Learning Implementation / Graph-structured Data / Federated Learning </p>
    </div>
    <div class="projects">
        <header class="major">
            <h1>프로젝트</h1>
        </header>
        <p>Data Importance-Aware Scheduling for Exploiting Diversity of Distributed Data <br> <a href="https://www.dbpia.co.kr/Journal/articleDetail?nodeId=NODE11047530">paper</a></p>
        
        <p>Recommendation based on Instance Segmentation and Data Embedding </p>
        <a href="https://github.com/yejin109/MaskRCNN-Recommendation">링크</a>

        <p>Data-driven Social problem solution Competition</p>
        <a href="https://github.com/yejin109/Data-based-Social-Problem-Solution-Project">링크</a>
        

    </div>
</section>




<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->

<!--{% if paginator %}-->
<!--  {% assign posts = paginator.posts %}-->
<!--{% else %}-->
<!--  {% assign posts = site.posts %}-->
<!--{% endif %}-->

<!--{% assign entries_layout = page.entries_layout | default: 'list' %}-->
<!--<div class="entries-{{ entries_layout }}">-->
<!--  {% for post in posts %}-->
<!--    {% include archive-single.html type=entries_layout %}-->
<!--  {% endfor %}-->
<!--</div> -->

<!--{% include paginator.html %}-->
